<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "tracking_chart",
		defaultSeriesType: "area",
		events: {
		  load: function() {
			var series = this.series[0];
			var data = this.series[0].data;
			setInterval(function() {
				$.get('/outlets/<%= @outlet.id %>/detail', function(newData) {
						data = newData;
						series.setData(data);
				}, 'json');
			}, 3000);
		  }
		}
      },
      title: {
        text: ""
      },
      xAxis: {
        title: {
          text: "Time"
        }
      },
      yAxis: {
        title: {
          text: "Watts"
        }
      },
      plotOptions: {
         area: {
            marker: {
               enabled: false,
               symbol: 'circle',
               radius: 2,
               states: {
                  hover: {
                     enabled: true
                  }
               }
            }
         }
      },
      series: [{
		data: <%= @logs %>,
		showInLegend: false
      }]
    });
  });
</script>

<div id="tracking_chart" style="width:600px; height:350px;">
</div>