<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "tracking_chart3",
		events: {
		  load: function() {
			var series = this.series[0];
			var data = this.series[0].data;
			setInterval(function() {
				$.get('/outlets/3/detail3', function(newData) {
						data = newData;
						series.setData(data);
				}, 'json');
			}, 1000);
		  }
		}
      },
      title: {
        text: ""
      },
      xAxis: {
        title: {
          text: "Time"
        }
      },
      yAxis: {
        title: {
          text: "Watts"
        }
      },
      series: [{
		data: <%= @logs.collect{|l| l.watts} %>,
		showInLegend: false
      }]
    });
  });
</script>

<div id="tracking_chart3" style="width:600px; height:350px;">
</div>