<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "tracking_chart",
		events: {
		  load: function() {
			var series = this.series[0];
			var data = this.series[0].data;
			setInterval(function() {
				$.get('/outlets/<%= @outlet3.id %>/graph', function(newData) {
						data = newData;
						series.setData(data);
				}, 'json');
			}, 1000);
		  }
		}
      },
      title: {
        text: "Wattage over Time"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Dollars"
        }
      },
      series: [{
		data: <%= @logs.collect{|l| l.watts} %>
      }]
    });
  });
</script>

<div id="tracking_chart" style="width:400px; height:300px;">
</div>