<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "tracking_chart",
		defaultSeriesType: "line",
		events: {
		  load: function() {
			var series1 = this.series[0];
			var series2 = this.series[1];
			var series3 = this.series[2];
			var data1 = this.series[0].data;
			var data2 = this.series[1].data;
			var data3 = this.series[2].data;
			setInterval(function() {
				$.get('/outlets/1/graph', function(newData) {
						data = newData;
						series1.setData(data);
				}, 'json');
				$.get('/outlets/2/graph', function(newData) {
						data = newData;
						series2.setData(data);
				}, 'json');
				$.get('/outlets/3/graph', function(newData) {
						data = newData;
						series3.setData(data);
				}, 'json');
			}, 3000);
		  }
		}
      },
      title: {
        text: ""
      },
      xAxis: {
        title: {
          text: "Time"
        }
      },
      yAxis: {
        title: {
          text: "Watts"
        }
      },
      series: [{
		name: "Outlet #1",
		data: <%= @logs1 %>
      },
	  {
		name: "Outlet #2",
		data: <%= @logs2 %>
	  },
	  {
		name: "Outlet #3",
		data: <%= @logs3 %>
	  }]
    });
  });
</script>

<div id="tracking_chart" style="width:1000px; height:300px;">
</div>