<center>
<h1>Outlet Summary</h1>
<i>Click any outlet to see a more detailed page</i>
</center>

<table>
	<tr>
		<td>
			<% link_to outlet_path(@outlet1) do %> 
				<center>
					<%= render :template => 'outlets/graph1' %><br>
					Total daily:<br>
					Total weekly:<br>
					Total monthly:<br>
				</center>
			<% end %>
		</td>
		<td><center>
			<%= render :template => 'outlets/graph2' %><br>
			Total daily:<br>
			Total weekly:<br>
			Total monthly:<br>
		</center>
		</td>
		<td><center>	
			<%= render :template => 'outlets/graph3' %><br>
			Total daily:<br>
			Total weekly:<br>
			Total monthly:<br>
		</center>
		</td>
	</tr>
</table>

<br />

