<h1>Outlet Summary</h1>
<i>Click any outlet to see a more detailed page</i>

<table>
	<tr>
		<td>
			<%= render :template => 'outlets/graph1' %><br>
			Total daily:<br>
			Total weekly:<br>
			Total monthly:<br>
		</td>
		<td>	
			<%= render :template => 'outlets/graph2' %><br>
			Total daily:<br>
			Total weekly:<br>
			Total monthly:<br>
		</td>
		<td>	
			<%= render :template => 'outlets/graph3' %><br>
			Total daily:<br>
			Total weekly:<br>
			Total monthly:<br>
		</td>
	</tr>
</table>

<br />

