<h1>Listing outlets</h1>


  <div id="plot1">
			<%= render :template => 'outlets/graph1' %>
  </div>

  <div id="plot2">
			<%= render :template => 'outlets/graph2' %>
  </div>

  <div id="plot3">
			<%= render :template => 'outlets/graph3' %>
  </div>  

<br />

<%= link_to 'New Outlet', new_outlet_path %>
