<h1>Listing outlets</h1>

<table>
	<tr>
		<td>
			<%= render :template => 'outlets/graph1' %>
		</td>
		<td>	
			<%= render :template => 'outlets/graph2' %>
		</td>
		<td>	
			<%= render :template => 'outlets/graph3' %>
		</td>
	</tr>
</table>

<br />

<%= link_to 'New Outlet', new_outlet_path %>
