#title {
  background-color: #000;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin: 0 45px 0 45px;
  text-align: center;
}

#graph {
	border: 2px solid #32CD32;
}

#subtitle {
	background: #32CD32;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

#usage {
	background: #32CD32;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
}

#status {
	text-align: center;
	border: 2px solid #32CD32;
}

#details {
	text-align: center;
	border: 2px solid #32CD32;
}

#link {
	clear: both;
	text-align: center;
}